.clients{
  width: 100%;
  .clients-container{
    width: 80%;
    margin: 0 auto;
    .clients-top{
    margin: 0 auto;
    .clients-top-container{
      display: flex;
      justify-content: center;
      .clients-description{
        margin-top: 100px;
        font-size: 12px;
        width:95%;
      }
      .clients-container-img{
        text-align: center;
        margin-top: 100px;
        display: flex;
        height: 10%;
        justify-content: space-between;
      }
      .clients-company-img{
        width: 25%;
        padding: 10px;
      }
      .clients-company-img:last-child{
        padding-right: 0px;
      }
      }
    }
    .clients-bottom{
      .clients-bottom-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        .clients-recommended:first-child{
          margin-left: 0px;
        }
        .clients-recommended{
         width: 100%;
         margin-left: 10px;
       .clients-opinion{
        padding: 10px 10px 10px 10px;
        background: beige;
        position: relative;
         p{   
           position: relative;
           width: 100%;
           font-weight: 100;
           font-size: 16px;
           font-style: italic;
          }
       
        }
        img{
          position: relative;
          left:220;
          bottom: 60;
        }
        }
      }
    }
  }
}
@media (max-width:780px) and (min-width: 319px)
{
  .clients{
    .clients-container{
      .clients-top{
        display: flex;
        flex-direction: column;
        width:100%;
        .clients-top-container{
          flex-direction: column;
          .clients-description{
            margin-top: 150px;
            text-align: center;
            width: 100%;
          }
          .clients-container-img{
            text-align: center;
            width: 100%;
            margin-top: 0px;
          }
          .clients-company-img:last-child{
            margin-bottom: 30px;
          }
          .clients-company-img{
            width: 70%;
            height: 10%;
            margin-top: 10px;
            border-radius: 30%;
          }
        }
      }
      .clients-bottom{
        .clients-bottom-container{
          flex-direction: column;
          width: 100%;
          .clients-recommended{
            img{
              position: relative;
              left:120;
            }
          }
        }
      }
    }
  }
}

