
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  opacity: 0.7;
  background-color: azure;
  .-logo{
    width: 100%;
  }
  .trigger {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0; }
    .nav_menu__left{
      border-left: 1px solid #000;
      margin: 0 auto;
      padding: 10px;
      .menu_item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .contact{
          border-left:1px solid #000;
          padding-left: 20px;
        }
      }
    }
  .nav_menu{
      display: flex;
      margin-bottom: 1rem;
      margin-top: 1rem;
     
      li{
        a{
          color:black; 
           text-decoration:none; 
           cursor:pointer;  
           list-style-type: none;
           text-transform: uppercase;
           .-logo{
             font-size: 42px;}
       }
       
        a:hover{
          text-decoration:none; 
          cursor:pointer;  
          list-style-type: none;}
          
      } 
    .menu_item{
      list-style-type: none;
      padding: 10;
     
     
    }
  }
}
//Section domain 

#domain{
 
  
  .domain-image-header{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    filter: brightness(75%);
  }
  .domain-section{
    font-size: 1em;
    color: powderblue;
    font-weight: 700;
    width: 100%;
    position:absolute;
    top: 30%; 
    left:0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:whitesmoke;
    font-size:3em;
  
  }
  .domain-logo{
    top:52%;
  }
  .domain-atributes{
    font-size: 1.6em;
    color:whitesmoke;
    top: 45%; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  .domain-button{
    font-size:1em;
    top:72%;
    .domain-box{
      height: 100%;
      width: 500px;
      display: flex;
      margin: 0 auto;
      border: 3px solid;
      background: #fefefe;
      padding: 15px;
    .input-domain{
      margin-left: auto;
      padding-left: 10px;
    }
      input, select{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      input:focus {outline:0;}
      select:focus{outline: 0};
      #domain-select {
        font-weight: 700;
        background:  $useFulYellow;
        border:none;
        padding: 12px;
        text-decoration: none;
      }
      .input-check{
        background:  $useFulYellow;
        border:none;
        color: black;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-right: auto;
      }
    }
  }
}
  @media (max-width:780px) and (min-width: 319px)
  {
    #domain{
      height: 100%;
      .container-domain{

       
        .domain-section{
          font-size: 1em !important;
        }
        .domain-box{
          display: none;
        }
      }
    }
  }

